<!-- prettier-ignore -->
<div>
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.bubble.css" />
</div>

<div
  class="w-full max-w-2xl mx-auto h-full flex flex-col items-center"
  x-data="{
      value: '',
      quill: null,
      init() {
          let quill = new Quill(
            this.$refs.quill,
            { theme: 'bubble', placeholder: 'Double click on text for toolbar...' }
          )

          quill.on('text-change', () => {
              this.value = quill.root.innerHTML
          })

          this.quill = quill
      },
      clean() {
          this.value = ''
          this.quill.root.innerHTML = '<p><br></p>'
      },
    }"
>
  <div
    class="w-full bg-white border border-gray-200 rounded-lg shadow-md p-4 mt-6"
  >
    <div x-ref="quill" id="quill"></div>
    <div id="quill-content" x-text="value" x-show="false"></div>
  </div>
  <div class="w-full flex justify-end" x-data>
    <button
      hx-post="/footer/feedback"
      hx-target="this"
      hx-swap="none"
      hx-vals='js:{feedback: document.getElementById("quill-content").innerText}'
      x-on:htmx:after-settle="
        (evt) => {
          $dispatch('notify', { content: evt.detail.xhr.responseText, type: 'success' });
          clean();
        }
      "
      x-on:htmx:response-error="
        (evt) => $dispatch('notify', { content: evt.detail.xhr.responseText, type: 'error' });
      "
      class="border border-gray-200 rounded-lg shadow-md p-2"
    >
      Submit
    </button>
  </div>
  {{ template "notification" }}
</div>

{{ define "notification" }}
<div
  x-data="{
        notifications: [],
        add(e) {
            this.notifications.push({
                id: e.timeStamp,
                type: e.detail.type,
                content: e.detail.content,
            })
        },
        remove(notification) {
            this.notifications = this.notifications.filter(i => i.id !== notification.id)
        },
    }"
  @notify.window="add($event)"
  class="fixed bottom-0 right-0 flex w-full max-w-sm flex-col space-y-4 pr-4 pb-4 sm:justify-start z-10"
  role="status"
  aria-live="polite"
>
  <!-- Notification -->
  <template x-for="notification in notifications" :key="notification.id">
    <div
      x-data="{
                show: false,
                init() {
                    this.$nextTick(() => this.show = true)

                    setTimeout(() => this.transitionOut(), 2000)
                },
                transitionOut() {
                    this.show = false

                    setTimeout(() => this.remove(this.notification), 500)
                },
            }"
      x-show="show"
      x-transition.duration.500ms
      class="pointer-events-auto relative w-full max-w-sm rounded-lg border border-gray-200 bg-white p-2 shadow-lg"
    >
      <div class="flex items-start gap-4">
        <div class="flex-1 py-1.5 pl-2.5 flex gap-2">
          <!-- Icons -->
          <div x-show="notification.type === 'info'" class="flex-shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="mt-0.5 size-4 text-gray-600"
            >
              <path
                fill-rule="evenodd"
                d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0ZM9 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6.75 8a.75.75 0 0 0 0 1.5h.75v1.75a.75.75 0 0 0 1.5 0v-2.5A.75.75 0 0 0 8.25 8h-1.5Z"
                clip-rule="evenodd"
              />
            </svg>
            <span class="sr-only">Information:</span>
          </div>

          <div x-show="notification.type === 'success'" class="flex-shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="mt-0.5 size-4 text-green-600"
            >
              <path
                fill-rule="evenodd"
                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm3.844-8.791a.75.75 0 0 0-1.188-.918l-3.7 4.79-1.649-1.833a.75.75 0 1 0-1.114 1.004l2.25 2.5a.75.75 0 0 0 1.15-.043l4.25-5.5Z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Success:</span>
          </div>

          <div x-show="notification.type === 'error'" class="flex-shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="mt-0.5 size-4 text-red-600"
            >
              <path
                fill-rule="evenodd"
                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14ZM8 4a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-1.5 0v-3A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Error:</span>
          </div>

          <!-- Text -->
          <div class="flex flex-col gap-y-2">
            <p
              x-text="notification.type"
              class="capitalize font-medium text-sm text-gray-800"
            ></p>

            <div
              class="text-sm text-gray-600"
              x-text="notification.content"
            ></div>
          </div>
        </div>
        <!-- Remove button -->
        <div class="flex items-center">
          <button
            @click="transitionOut()"
            type="button"
            class="inline-flex items-center font-medium justify-center p-1.5 rounded-md hover:bg-gray-800/5 text-gray-400 hover:text-gray-800"
          >
            <svg
              aria-hidden
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close notification</span>
          </button>
        </div>
      </div>
    </div>
  </template>
</div>
{{ end }}
