@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark {
    --background: #181a1b;
    --foreground: #c5c0b9;
    --primary: #4fbedd;
    --secondary: #111827;
    --secondary-light: #374151;
    --border: #2b374d;
  }

  .light {
    --background: #f9f9f9;
    --foreground: #2e3440;
    --primary: #259dbe;
    --border: #d8dee9;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .input {
    @apply focus:outline-none focus:ring-0 px-3 py-2 rounded-lg border border-gray-200 bg-white shadow-sm w-full placeholder-gray-400;
  }
  .input:disabled {
    @apply bg-secondary text-secondary-light cursor-not-allowed;
  }
}
