<div>
  <h1>Admin</h1>
  <button
    type="button"
    class="border border-black p-1 rounded-md"
    id="refresh-btn"
  >
    Refresh Tree
  </button>
  {{ template "scripts" . }}
</div>

<!-- -->

{{ define "scripts"}}
<script>
  document.getElementById('refresh-btn').onclick = async function () {
    window.alert('Refreshing tree...')
    const response = await fetch('/refresh-tree', { method: 'POST' })
    if (!response.ok) {
      console.error('Failed to refresh tree')
      window.alert('Failed to refresh tree')
      return
    }
    window.alert('Tree refreshed')
  }
</script>
{{ end }}
