<div>
  <h1>Admin</h1>
  <button type="button" class="border border-black p-1 rounded-md" id="refresh-btn">
    Refresh Tree
  </button>
  <div>
    <table class="table-auto">
      <thead>
        <tr>
          <th>Mail</th>
          <th>Name</th>
          <th>StudentId</th>
          <th></th>
        </tr>
      </thead>
      <!-- prettier-ignore -->
      <tbody class="gap-2">
      {{ range $widx, $content := .WaitingList }}
        <tr>
          <!-- prettier-ignore -->
          {{ range $cidx, $c := $content }}
            <td class="text-left pl-8" id="waiting-list-{{ $widx }}-{{ $cidx }}">{{ $c }}</td>
          {{ end }}
          <td class="text-center pl-8">
            <button type="button" class="" id="approve-btn-{{ $widx }}">Approve</button>
          </td>
          <td class="text-right pl-8">
            <button type="button" class="" id="delete-btn-{{ $widx }}">Delete</button>
          </td>
        </tr>
      {{ end }}
    </tbody>
    </table>
  </div>
  {{ template "scripts" . }}
</div>

<!-- -->

{{ define "scripts"}}
<script>
  document.getElementById('refresh-btn').onclick = async function () {
    window.alert('Refreshing tree...')
    const response = await fetch('/refresh-tree', { method: 'POST' })
    if (!response.ok) {
      console.error('Failed to refresh tree')
      window.alert('Failed to refresh tree')
      return
    }
    window.alert('Tree refreshed')
  }
  async function approve(idx) {
    window.alert('Approving user...')
    const waitingEmail = document.getElementById(`waiting-list-${idx}-0`).innerText
    const waitingName = document.getElementById(`waiting-list-${idx}-1`).innerText
    const waitingStudentId = document.getElementById(`waiting-list-${idx}-2`).innerText
    const response = await fetch('/admin/approve', { method: 'POST', body: JSON.stringify({ email: waitingEmail, name: waitingName, studentId: waitingStudentId })})
    if (!response.ok) {
      console.error('Failed to approve')
      window.alert('Failed to approve, please check the database manually')
      return
    }
    window.alert('user ' + waitingName + ' approved')
    window.location.reload()
  }
  //delete
  async function del(idx) {
    window.alert('Deleting user...')
    const waitingEmail = document.getElementById(`waiting-list-${idx}-0`).innerText
    const waitingName = document.getElementById(`waiting-list-${idx}-1`).innerText
    const waitingStudentId = document.getElementById(`waiting-list-${idx}-2`).innerText
    const response = await fetch('/admin/delete', { method: 'POST', body: JSON.stringify({ email: waitingEmail, name: waitingName, studentId: waitingStudentId })})
    if (!response.ok) {
      console.error('Failed to delete')
      window.alert('Failed to delete, please check the database manually')
      return
    }
    window.alert('user ' + waitingName + ' deleted')
    window.location.reload()
  }
  for (let i = 0; i < {{ len .WaitingList }}; ++i) {
    document.getElementById(`approve-btn-${i}`).onclick = async function () {
      await approve(i)
    }
  }
  for (let i = 0; i < {{ len .WaitingList }}; ++i) {
    document.getElementById(`delete-btn-${i}`).onclick = async function () {
      await del(i)
    }
  }
</script>
{{ end }}
