<!doctype html>
<html>
  <!-- prettier-ignore -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NCCUCS Past Papers Web</title>

    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>

    <!-- htmx -->
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>

    <!-- Alpine.js -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs-twmerge@latest/dist/alpinejs-twmerge.cdn.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/ui@3.14.7/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/focus@3.14.7/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.14.7/dist/cdn.min.js"></script>

    <!-- Tailwindcss -->
    <link href="/static/output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>{{ .Title }}</title>
  </head>

  {{ template "themescript" }}

  <body class="h-[100dvh]">
    <div class="flex flex-col h-full max-w-6xl mx-auto">
      {{ template "header" }}
      <div class="flex flex-grow flex-col">
        <div class="flex flex-col flex-grow">{{ .Body }}</div>
        <footer><p class="text-center">&#169; 2024 chaoting.xyz</p></footer>
      </div>
    </div>
  </body>
</html>

<!-- -->

{{ define "themescript" }}
<script>
  // function to set a given theme/color-scheme (light, dark, or system)
  function setTheme(themeName) {
    if (themeName === "system")
      themeName = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    localStorage.setItem("theme", themeName);
    document.documentElement.setAttribute("class", themeName);
  }
  // Immediately invoked function to set the theme on initial load
  (function () {
    setTheme(localStorage.getItem("theme") || "system");
  })();
</script>
{{ end }}

<!-- -->

{{ define "header" }}
<header>
  <div class="flex justify-between items-center px-4 py-5">
    <h1 class="text-xl md:text-2xl lg:text-3xl">
      <a href="/content/" class="text-foreground text-decoration-none"
        >NCCUCS - Past paper web</a
      >
    </h1>
    <div class="inline-flex gap-2">
      <!-- prettier-ignore -->
      {{ $themeMenu := dict "Light" "light" "Dark" "dark" "System" "system" }}
      {{ $buttonClass := "bg-white text-black px-2.5 py-2.5 rounded-md shadow" }}
      {{ template "dropdown" (dict 
        "Menu" $themeMenu "TitleId" "dropdownToggle" "Title" "Theme" "OptionId" "theme-toggle" "ButtonClass" $buttonClass)
      }}
      <a
        href="https://github.com/gnitoahc/nccu-past-papers-web"
        target="_blank"
        class="bg-white text-black px-2.5 py-2.5 rounded-md shadow ml-2"
      >
        <i data-lucide="github"></i>
      </a>
    </div>
  </div>
  <script>
    function getSvgIcon(theme) {
      if (theme == "dark") return `<i data-lucide="moon"></i>`;
      else if (theme == "light") return `<i data-lucide="sun"></i>`;
      else {
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? `<i data-lucide="moon"></i>`
          : `<i data-lucide="sun"></i>`;
      }
    }
    for (const button of document.querySelectorAll(
      "[optionid='theme-toggle']"
    )) {
      button.addEventListener("click", (event) => {
        setTheme(event.target.value);
        document.getElementById("dropdownToggle").innerHTML = getSvgIcon(
          event.target.value
        );
        lucide.createIcons();
      });
    }
    (function () {
      document.getElementById("dropdownToggle").innerHTML = getSvgIcon(
        localStorage.getItem("theme") || "system"
      );
      lucide.createIcons();
    })();
  </script>
</header>
{{ end }}
