<!-- prettier-ignore -->
<div class="bg-red-400 text-white text-center text-lg rounded-lg my-4 py-4 w-full">
  Chat page is still under active development.
</div>
<div class="flex w-full h-full">
  <!-- prettier-ignore -->
  <div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked-katex-extension@latest/lib/index.umd.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </div>

  <div class="h-full w-2/3 file-section-cls" id="iframe-div">
    <iframe src="{{ .Src }}" class="w-full"></iframe>
    <!-- <p>{{ .Src }}</p> -->
  </div>

  <div
    class="h-full flex flex-col max-h-screen overflow-y-scroll w-1/3 overflow-scroll"
    x-data="{
      chatname: getChatName(),
      chathis: JSON.parse(localStorage.getItem(getChatName()) || '[]')
    }"
  >
    <div x-ref="chatbox" class="grow flex flex-col gap-y-3 prose">
      <template x-for="chat in chathis">
        <div
          :id="$id('chat')"
          x-html="toMarkdown(chat.text)"
          class="whitespace-pre-wrap rounded-lg"
          :class="chat.role === 'user' ? 'bg-blue-300' : 'bg-gray-300'"
        ></div>
      </template>
    </div>

    <form
      class="flex flex-col"
      id="chat-form"
      x-data="{
        message: '',
        submitMessage() {
          if (this.message.trim() !== '') {
            chathis.push({role: 'user', text: this.message});
            chathis.push({role: 'model', text: 'Loading...'});
            this.message = '';
            this.complete(chathis)
          }
        },
        complete: chatComplete,
      }"
      x-init="
        $watch('chathis', value => {
          localStorage.setItem(chatname, JSON.stringify(value));
        });
      "
    >
      <div class="col-span-full">
        <label>Message:</label>
        <textarea
          class="w-full min-h-28 rounded-md border-0 p-1.5 shadow-xs ring-1 ring-inset ring-gray-300 focus:ring-2 sm:text-sm sm:leading-6"
          placeholder="問題"
          type="text"
          @keydown.enter.prevent="!$event.shiftKey && submitMessage()"
          @keydown.shift.enter="message += '\n'"
          x-model="message"
        ></textarea>
      </div>
    </form>

    <script>
      async function chatComplete(chathis) {
        const response = await fetch(window.location.href, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(chathis),
        });
        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");

        let done, value;
        let modelText = "";
        while (({ done, value } = await reader.read())) {
          const text = decoder.decode(value, { stream: !done });
          if (done) break;
          modelText += text;
          chathis[chathis.length - 1] = { role: "model", text: modelText };
        }
      }
    </script>
  </div>

  {{ template "chat-script" }} {{ template "iframe-resize-script" }}
</div>

<!-- -->

{{ define "chat-script" }}
<script>
  function getFilePath() {
    // Get the current path from the URL
    const path = window.location.pathname;
    const chatpath = path.substring(path.indexOf("/chat/") + 6);
    return chatpath;
  }

  function getFileName() {
    const fp = getFilePath();
    return fp.replace(/\//g, "_");
  }

  function getChatName() {
    const fn = getFileName();
    return "chatppw_" + fn;
  }

  function toMarkdown(text) {
    marked.use({
      gfm: true,
      breaks: true,
    });
    marked.use(markedKatex({ throwOnError: false }));
    return marked.parse(text);
  }
</script>
{{ end }}

<!-- -->

{{ define "iframe-resize-script" }}
<script>
  function resizeIframe() {
    var iframe = document
      .getElementById("iframe-div")
      .getElementsByTagName("iframe")[0];
    var height = document.getElementById("iframe-div").offsetHeight;
    iframe.style.height = height - 5 + "px";
    console.log("Resized");
  }

  // Resize when iframe is loaded
  document
    .getElementById("iframe-div")
    .getElementsByTagName("iframe")[0]
    .addEventListener("load", resizeIframe);

  // Resize on window resize
  window.addEventListener("resize", resizeIframe);
</script>
{{ end }}
