{{ define "body" }}
<div class="flex w-full h-full">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <!-- Iframe Section -->
  <div class="h-full w-2/3 file-section-cls" id="iframe-div">
    <iframe src="{{ .Src }}" class="w-full"></iframe>
  </div>

  <!-- Chat Section -->
  <div class="h-full max-h-screen overflow-y-scroll w-1/3 overflow-scroll" x-data="{chatname: getChatName()}">
    <div id="chat-box" class="flex flex-col gap-2 p-4 bg-gray-100 rounded-lg shadow-inner overflow-y-auto"></div>

    <form
      class="flex items-center p-2 bg-white border-t border-gray-200"
      id="chat-form"
      x-data="{
        chathis: JSON.parse(localStorage.getItem(chatname) || '[]'),
        message: '',
        submitMessage() {
          if (this.message.trim() !== '') {
            this.chathis.push({role: 'user', text: this.message});
            this.chathis.push({role: 'model', text: 'Loading...'});
            this.message = '';
            chatComplete(this.chathis);
          }
        },
      }"
      x-init="
        $watch('chathis', value => {
          localStorage.setItem(chatname, JSON.stringify(value));
          renderChat(value);
        });
      "
    >
      <textarea
        id="chat-input"
        class="flex-grow w-full rounded-md p-2 text-sm border-gray-300 shadow-sm resize-none"
        placeholder="Type a message..."
        @keydown.enter.prevent="!$event.shiftKey && submitMessage()"
        @keydown.shift.enter="message += '\n'"
        x-model="message"
      ></textarea>

      <button
        type="button"
        @click="submitMessage()"
        class="bg-blue-500 text-white py-2 px-4 ml-2 rounded-md shadow-md hover:bg-blue-600 transition"
      >
        Send
      </button>
    </form>

    <p id="output" class="hidden">Init</p>
  </div>
</div>
{{ end }}

{{ define "chat-script" }}
<script>
  function getFilePath() {
    const path = window.location.pathname;
    const chatpath = path.substring(path.indexOf("/chat/") + 6);
    return chatpath;
  }

  function getFileName() {
    const fp = getFilePath();
    return fp.replace(/\//g, "_");
  }

  function getChatName() {
    const fn = getFileName();
    return "chatppw_" + fn;
  }

  function toMarkdown() {
    const paragraphs = document.querySelectorAll("div.markdown");
    paragraphs.forEach((p) => {
      const markdown = p.innerText;
      const html = marked.parse(markdown);
      p.innerHTML = html;
    });
  }

  function renderChat(chathis) {
    const chatBox = document.getElementById("chat-box");
    chatBox.innerHTML = "";
    chathis.forEach((obj) => {
      const d = document.createElement("div");
      d.textContent = obj.text;
      d.style.whiteSpace = "pre-wrap";
      d.classList.add("markdown");

      if (obj.role === "user") {
        d.classList.add("bg-blue-100", "text-blue-900", "p-2", "rounded-lg", "self-end", "max-w-xs", "shadow");
      } else {
        d.classList.add("bg-gray-200", "text-gray-800", "p-2", "rounded-lg", "self-start", "max-w-xs", "shadow");
      }
      chatBox.appendChild(d);
    });
    toMarkdown();
    chatBox.scrollTop = chatBox.scrollHeight;
  }

  window.onload = function () {
    let chat = localStorage.getItem(getChatName());
    if (!chat) chat = [];
    try {
      chat = JSON.parse(chat);
    } catch (e) {
      chat = [];
    }
    localStorage.setItem(getChatName(), JSON.stringify(chat));
    renderChat(chat);
  };
</script>
{{ end }}

{{ define "iframe-resize-script" }}
<script>
  function resizeIframe() {
    const iframe = document.getElementById("iframe-div").getElementsByTagName("iframe")[0];
    const height = document.getElementById("iframe-div").offsetHeight;
    iframe.style.height = `${height - 5}px`;
  }

  document.getElementById("iframe-div").getElementsByTagName("iframe")[0].addEventListener("load", resizeIframe);
  window.addEventListener("resize", resizeIframe);
</script>
{{ end }}
