<!-- Add Bootstrap JavaScript and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{{ if .HasReadme }}
<div class="border-foreground border rounded-md p-4 mb-2">
  <p class="markdown">{{ .Readme }}</p>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    window.onload = () => {
      const readme = document.querySelector(".markdown");
      readme.innerHTML = marked.parse(readme.innerHTML);
    };
  </script>
</div>
{{ end }}

<div class="my-4">
  <!-- prettier-ignore -->
  {{ $path := .Path }} {{ $parts := split .Path "/" }}

  <!-- Initialize empty arrays for Names and Links -->
  <!-- prettier-ignore -->
  {{ $names := slice }} {{ $links := slice }}

  <!-- Create links and names from the path -->
  <!-- prettier-ignore -->
  {{ $currentLink := "/" }}

  {{ range $idx, $part := $parts }}
  {{  if ne $part "" }}
  {{    $currentLink = print $currentLink $part "/" }}
  {{      if $currentLink | eq "/content/" }}
  {{        $names = append $names "HOME" }}
  {{      else }}
  {{        $names = append $names $part }}
  {{      end }}
  {{    $links = append $links $currentLink }}
  {{  end }}
  {{ end }}

  {{ template "breadcrumb" (dict "Names" $names "Links" $links) }}
</div>

<!-- -->

<ul
  class="border divide-y divide-border border-border rounded-lg first-of-type:rounded-t-lg mb-4"
>
  <!-- prettier-ignore -->
  {{ range .Items }}
  {{  if .IsTree }}
  <li class="w-full px-4 py-2">
    <a href="{{ .Link }}">{{ .Name }}</a>
  </li>
  <!-- prettier-ignore -->
  {{  else }}
  {{    $btnc := "w-full px-4 py-2" }}
  {{    template "dropdown" (dict "Menu" (dict "Chat" .Link "Download" .Download) "IsLink" true "Title" .Name "TitleId" .Name "ButtonClass" $btnc) }}
  {{ end }} {{ end }}
</ul>

<form id="upload-form" class="h-20" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Name" />
  <input type="file" name="file" placeholder="File Input" />
  <button type="submit">Add</button>
  <!-- Add files drag and drop feature -->
  <div id="drop-zone" class="border border-dashed border-gray-400 p-4 mt-2">
    Drag and drop files here
  </div>

  {{ template "upload-modal" }}

</form>
{{ template "upload-script" }} 

<!-- -->

<!-- -->

{{ define "upload-script" }}
<script>
  const uploadForm = document.getElementById("upload-form");

  const dropZone = document.getElementById("drop-zone");
  const fileInput = uploadForm.querySelector('input[type="file"]');

  // Prevent default drag behaviors
  ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
    dropZone.addEventListener(eventName, preventDefaults, false);
    document.body.addEventListener(eventName, preventDefaults, false);
  });

  function preventDefaults(e) {
    e.preventDefault();
    e.stopPropagation();
  }

  // Highlight drop area when item is dragged over it
  ['dragenter', 'dragover'].forEach(eventName => {
    dropZone.addEventListener(eventName, () => dropZone.classList.add('highlight'), false);
  });

  ['dragleave', 'drop'].forEach(eventName => {
    dropZone.addEventListener(eventName, () => dropZone.classList.remove('highlight'), false);
  });

  // Handle dropped files
  dropZone.addEventListener('drop', handleDrop, false);

  function handleDrop(e) {
    const dt = e.dataTransfer;
    const files = dt.files;
    fileInput.files = files;
  }

  uploadForm.addEventListener("submit", async (e) => {
    e.preventDefault();
    //alert("submit");
    const uploadM = new bootstrap.Modal(
      document.getElementById("upload-modal")
    );
    uploadM.show();
    //alert("show");
    document.getElementById("upload-modal-body").innerHTML = "Loading...";
    const formData = new FormData(uploadForm);
    const res = await fetch(window.location.href, {
     method: "POST",
     body: formData,
    });
    const message = await res.text();
    alert(message);
    document.getElementById("upload-modal-body").innerHTML = "";
  });
</script>
{{ end }}

<!-- -->

{{ define "upload-modal" }}
<div class="modal fade" id="upload-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" id="upload-modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="upload-modal-body"></div>
    </div>
  </div>
</div>
{{ end }}
