{{ define "body" }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" id="content-breadcrumb"></ol>
</nav>
<script>
  const path = '{{ .Path }}'
  const pathArray = path.split('/')
  console.log(pathArray)
  const contentBreadcrumb = document.getElementById('content-breadcrumb')
  pathArray.forEach((item, index) => {
    const link = pathArray.slice(0, index + 1).join('/')
    const li = document.createElement('li')
    li.classList.add('breadcrumb-item')
    li.insertAdjacentHTML('beforeend', `<a href="${'/' + link}">${item}</a>`)
    contentBreadcrumb.append(li)
  })
  contentBreadcrumb.firstElementChild.innerHTML = `<a href="${'/content'}">HOME</a>`
  contentBreadcrumb.lastElementChild.innerHTML =
    pathArray.length === 1 ? 'HOME' : pathArray.slice(-1)
</script>
<ul>
  {{ range .Items }} {{ if .IsTree }}
  <li><a href="{{ .Link }}" class="underline">{{ .Name }}</a></li>
  {{ else }}
  <li><a href="{{ .Link }}">{{ .Name }}</a></li>
  {{ end }} {{ end }}
</ul>

<form id="upload-form" class="h-20" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Name" />
  <input type="file" name="file" placeholder="File Input" />
  <button type="submit">Add</button>
</form>
{{ template "upload-script" }} {{ template "upload-modal" }}
<!-- -->
{{ end }}

<!-- -->

{{ define "upload-script" }}
<script>
  const uploadForm = document.getElementById('upload-form')
  uploadForm.addEventListener('submit', async (e) => {
    e.preventDefault()
    const uploadM = new bootstrap.Modal(document.getElementById('upload-modal'))
    uploadM.show()
    document.getElementById('upload-modal-body').innerHTML = 'Loading...'
    const formData = new FormData(uploadForm)
    const res = await fetch(window.location.href, {
      method: 'POST',
      body: formData,
    })
    const message = await res.text()
    document.getElementById('upload-modal-body').innerHTML = message
  })
</script>
{{ end }}

<!-- -->

{{ define "upload-modal" }}
<div class="modal fade" id="upload-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" id="upload-modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="upload-modal-body"></div>
    </div>
  </div>
</div>
{{ end }}
