<div style="padding-left: 6rem; padding-right: 6rem; padding-top: 15%">
<div x-data="{ login: true, modalOpen: false, email: '', wait: false }">
    <h1 class="mb-4 flex justify-center text-4xl" x-show="login">Login</h1>
    <h1 class="mb-4 flex justify-center text-4xl" x-show="!login">Register</h1>
    <!-- prettier-ignore -->
    {{ template "login-form" }} {{ template "register-form" }}
    {{ template "otp-modal" }}
    <div
      class="absolute h-screen w-screen top-0 left-0 bg-gray-500/30 backdrop-blur-sm"
      x-show="wait"
    ></div>
  </div>
</div>

<!-- -->

{{ define "login-form" }}
<div class="flex flex-col justify-center items-center" x-show="login">
  <form
    method="post"
    action=""
    class="inline-flex gap-2 justify-center w-80"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      name="email"
      placeholder="example@example.com"
      autocomplete="email"
      class="w-full max-w-md p-2 border border-gray-300 rounded-lg h-8 focus:outline-none focus:ring-1 focus:ring-blue-500"
    />
    <button
      type="submit"
      class="hidden md:block border border-gray-300 rounded-lg h-8 px-2"
    >
      Login
    </button>
    <button
      type="submit"
      class="md:hidden border border-gray-300 rounded-lg h-8 px-2"
    >
      &gt;
    </button>
  </form>
  <div class="place-content-end">
    <button x-on:click="login = false" class="cursor-pointer">
      No account? Register
    </button>
  </div>
</div>
{{ end }}

<!-- -->

{{ define "register-form" }}
<div class="flex w-full justify-center" x-show="!login">
  <form
    class="content-center w-80"
    id="register-form"
    enctype="multipart/form-data"
    hx-post="/register"
    hx-target="this"
    hx-swap="none"
    x-on:htmx:response-error="(evt) => $refs.regErr.innerText = evt.detail.xhr.responseText; wait = false;"
    x-on:htmx:after-settle="modalOpen = true; email = $refs.email.value; wait = false;"
  >
    <p class="text-red-400" x-ref="regErr"></p>
    <!-- prettier-ignore -->
    {{ $label := list "Email" "Name" "Student ID" }}
    {{ $name := list "email" "name" "studentId" }}
    {{ $placeholder := list "example@example.com" "Your name" "Your student ID" }}
    {{ $autocomplete := list "email" "name" "id" }}
    {{ range $i, $v := $label }}
    <div class="mb-3">
      <label class="form-label">{{ $v }}</label>
      <input
        type="text"
        name="{{ index $name $i }}"
        x-ref="{{ index $name $i }}"
        placeholder="{{ index $placeholder $i }}"
        autocomplete="{{ index $autocomplete $i }}"
        class="w-full max-w-md p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-500"
      />
    </div>
    {{ end }}

    <button type="submit" x-on:click="wait = true">Register</button>

    <div class="flex w-full content-end">
      <button type="button" x-on:click="login = true" class="cursor-pointer">
        Have an account? Login
      </button>
    </div>
  </form>
</div>
{{ end }}

<!-- -->

{{ define "otp-modal" }}
<div
  x-show="modalOpen"
  x-transition
  class="absolute h-screen w-screen top-0 left-0 bg-gray-500/30 backdrop-blur-sm flex items-center justify-center"
  id="otp-modal"
>
  <div
    class="fixed inset-0 m-auto flex flex-col items-center justify-center max-w-xl max-h-48 text-black bg-white rounded-md"
    x-on:click.away="modalOpen = false"
  >
    <h2 class="text-xl font-bold mb-4">Verify OTP</h2>
    <p
      class="text-gray-600 mb-2"
      id="otp-response"
      x-on:htmx:after-swap="
        wait = false;
        $refs.otpForm.style.display = 'none'; $refs.otpErr.style.display = 'none'; $refs.otpRedirect.style.display = 'block';
      "
    >
      Please check your email for the OTP to complete verification.
    </p>
    <p class="text-red-400" x-ref="otpErr"></p>

    <form
      class="flex flex-col"
      x-ref="otpForm"
      hx-target="#otp-response"
      hx-swap="innerHTML"
      hx-post="/verify-otp"
      x-on:htmx:response-error="(evt) => $refs.otpErr.innerText = evt.detail.xhr.responseText; wait = false;"
    >
      <input type="text" name="otp" placeholder="Enter OTP" />
      <input type="text" name="email" class="hidden" x-bind:value="email" />
      <button type="submit" class="mt-2" x-on:click="wait = true">
        Verify
      </button>
    </form>
    <a
      href="/"
      style="display: none"
      class="border border-black rounded-md p-1 hover:bg-slate-200"
      x-ref="otpRedirect"
      >Redirect</a
    >
  </div>
</div>
{{ end }}
