<div style="padding-left: 6rem; padding-right: 6rem; padding-top: 15%">
  <div x-data="{ login: true, showspinner: false }">
    <h1 class="mb-4 flex justify-center" x-show="login">Login</h1>
    <h1 class="mb-4 flex justify-center" x-show="!login">Register</h1>
    <!-- prettier-ignore -->
    {{ template "login-form" }} {{ template "register-form" }}
    {{ template "spinner" (dict "Id" "Spinner" "ShowName" "showspinner") }}
  </div>
  <!-- prettier-ignore -->
  {{ template "script" }}
</div>

<!-- -->

{{ define "login-form" }}
<div class="flex flex-col justify-center items-center" x-show="login">
  <form
    method="post"
    action=""
    class="inline-flex gap-2 justify-center w-80"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      name="email"
      placeholder="example@example.com"
      autocomplete="email"
    />
    <button type="submit" class="hidden md:block">Login</button>
    <button type="submit" class="md:hidden">&gt;</button>
  </form>
  <div class="place-content-end">
    <button x-on:click="login = false" class="cursor-pointer">
      No account? Register
    </button>
  </div>
</div>
{{ end }}

<!-- -->

{{ define "register-form" }}
<div class="flex w-full justify-center" x-show="!login">
  <form
    class="content-center w-80"
    id="register-form"
    enctype="multipart/form-data"
    x-data="{ modalOpen: false }"
  >
    <!-- prettier-ignore -->
    {{ $label := list "Email" "Name" "Student ID" }}
    {{ $name := list "email" "name" "studentId" }}
    {{ $placeholder := list "example@example.com" "Your name" "Your student ID" }}
    {{ $autocomplete := list "email" "name" "id" }}
    {{ range $i, $v := $label }}
    <div class="mb-3">
      <label class="form-label">{{ $v }}</label>
      <input
        type="text"
        name="{{ index $name $i }}"
        placeholder="{{ index $placeholder $i }}"
        class="form-control"
        autocomplete="{{ index $autocomplete $i }}"
      />
    </div>
    {{ end }}

    <button
      type="submit"
      x-on:click="modalOpen = true"
      hx-post="/register"
      hx-target="#auth-modal-body"
      hx-on::before-request="replaceSpinner()"
      hx-swap="innerHTML"
    >
      Register
    </button>
    {{ template "modal" }}

    <div class="flex w-full content-end">
      <button x-on:click="login = true" class="cursor-pointer">
        Have an account? Login
      </button>
    </div>
  </form>
</div>
{{ end }}

<!-- -->

{{ define "script" }}
<script>
  htmx.on("htmx:responseError", errorHandler);
  htmx.on("htmx:sendError", errorHandler);
  function errorHandler(event) {
    document.getElementById("auth-modal-body").innerHTML =
      event.detail.xhr.responseText;
  }
  function replaceSpinner() {
    const spinner = document.getElementById("Spinner");
    document.getElementById("auth-modal-body").innerHTML = spinner.innerHTML;
  }
</script>
{{ end }}

<!-- -->

{{ define "modal" }}
<div
  x-show="modalOpen"
  x-transition
  class="absolute h-screen w-screen top-0 left-0 bg-background/30 backdrop-blur-sm"
  id="register-modal"
>
  <div
    class="fixed inset-0 m-auto flex flex-col items-center justify-center max-w-xl max-h-32 text-black bg-white rounded-md"
    x-on:click.away="modalOpen = false"
  >
    <p
      id="auth-modal-body"
      class="inline-flex items-center mb-1"
      hx-on::after-swap="document.getElementById('auth-modal-footer').style.display = 'flex'"
    ></p>
    <a
      href="/verify-otp"
      id="auth-modal-footer"
      style="display: none"
      class="border border-black rounded-md p-1 hover:bg-slate-200"
      x-on:click="modalOpen = false"
      >Redirect</a
    >
  </div>
</div>
{{ end }}
