{{ define "accordian" }}
<div x-data="{ active: null }" class="mx-auto min-h-[16rem] w-full max-w-3xl">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <div
    x-data="{ items: [] }"
    x-init="
            i= await (await fetch('{{ .ItemPath }}')).json()
            items = i.itemList
    "
  >
    <template x-for="item in items" :key="item.id">
      <!-- Disclosure -->
      <div
        x-disclosure
        x-data="{
            id: item.id,
            get expanded() {
                return this.active === this.id
            },
            set expanded(id) {
                this.active = id ? this.id : null
            },
        }"
        x-model="expanded"
        class="block border-b border-foreground/10 pb-4 pt-4 first:pt-0 last:border-b-0 last:pb-0 text-foreground"
      >
        <!-- Disclosure Button -->
        <button
          x-disclosure:button
          type="button"
          class="group flex w-full items-center justify-between text-left font-medium text-foreground"
        >
          <span class="flex-1 text-foreground" x-text="item.summary"></span>

          <!-- Heroicons mini chevron-up: x-show="$disclosure.isOpen" -->
          {{ template "chevron-up" }}

          <!-- Heroicons mini chevron-down: x-show="!$disclosure.isOpen" -->
          {{ template "chevron-down" }}
        </button>

        <!-- Disclosure Panel -->
        <div x-disclosure:panel x-collapse>
          <div
            class="pt-2 max-w-xl prose"
            x-html="marked.parse(item.detail)"
          ></div>
        </div>
      </div>
    </template>
  </div>
</div>
{{ end }}

<!-- -->

{{ define "chevron-up" }}
<svg
  x-show="$disclosure.isOpen"
  x-cloak
  class="size-5 shrink-0 text-gray-300 group-hover:text-gray-800"
  aria-hidden="true"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 20 20"
  fill="currentColor"
>
  <path
    fill-rule="evenodd"
    d="M9.47 6.47a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 8.06l-3.72 3.72a.75.75 0 0 1-1.06-1.06l4.25-4.25Z"
    clip-rule="evenodd"
  ></path>
</svg>
{{ end }}

<!-- -->

{{ define "chevron-down" }}
<svg
  x-show="!$disclosure.isOpen"
  class="size-5 shrink-0 text-gray-300 group-hover:text-gray-800"
  aria-hidden="true"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 20 20"
  fill="currentColor"
  data-slot="icon"
>
  <path
    fill-rule="evenodd"
    d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
    clip-rule="evenodd"
  ></path>
</svg>
{{ end }}
