{{ define "combobox" }}
<div
  x-data="{
        selected: null,
        items: [],
        arbitraryDisplay: '{{ .ArbitraryDisplay }}' == '' ? 'Add new item' : '{{ .ArbitraryDisplay }}',
        allowArbitrary: '{{ .AllowArbitrary }}' == 'true',
        get filteredItems() {
          const queryLower = {{ .QueryName }}.toLowerCase();
          const filtered = {{ .QueryName }} === ''
                ? this.items
                : this.items.filter((item) => {
                    item.name.toLowerCase().includes({{ .QueryName }}.toLowerCase())
                })
          if (!this.allowArbitrary) return filtered

          if ({{.QueryName }} !== '' && !filtered.some(item => item.name.toLowerCase() === queryLower)) {
            return [this.items[this.items.length - 1]]
          }
          return filtered;
        },
    }"
  x-init="
    i = await (await fetch('{{ .ItemPath }}')).json()
    items = i.itemList
    if (allowArbitrary)
      items.push({ id: items.length + 1, name: arbitraryDisplay })
  "
  class="max-w-xs w-full"
>
  <!-- Combobox -->
  <div x-combobox x-model="selected" class="relative w-full">
    <div class="group w-full block relative">
      <!-- Combobox Input -->
      <input
        x-combobox:input
        :display-value="items => {
          if (items.name == arbitraryDisplay) return {{ .QueryName }}
          {{ .QueryName }} = items.name
          return items.name
        }"
        @change="{{ .QueryName }} = $event.target.value;"
        class="input"
        placeholder="{{ .Placeholder }}"
      />

      <!-- Combobox Button -->
      <button
        x-combobox:button
        class="absolute inset-y-0 right-0 flex items-center pr-2"
      >
        <i
          class="shrink-0 size-5 text-gray-300 group-hover:text-gray-800"
          data-lucide="chevrons-up-down"
        ></i>
      </button>
    </div>

    <!-- Combobox Options -->
    <div
      x-combobox:options
      x-cloak
      class="absolute right-0 z-10 mt-2 max-h-80 w-full overflow-y-scroll overscroll-contain rounded-lg border border-gray-200 bg-white p-1.5 shadow-sm outline-none"
    >
      <ul class="">
        <template x-for="item in filteredItems" :key="item.id">
          <!-- Combobox Option -->
          <li
            x-combobox:option
            :value="item"
            :disabled="item.disabled"
            :class="{
                            'bg-gray-100': $comboboxOption.isActive,
                            'text-gray-800': ! $comboboxOption.isActive && ! $comboboxOption.isDisabled,
                            'text-gray-400 cursor-not-allowed': $comboboxOption.isDisabled,
                        }"
            class="group flex w-full cursor-default items-center rounded-md px-2 py-1.5 transition-colors"
          >
            <div class="w-6 shrink-0">
              <div x-show="$comboboxOption.isSelected">
                <i data-lucide="check"></i>
                <script>
                  (function () {
                    lucide.createIcons();
                  })();
                </script>
              </div>
            </div>
            <span x-text="item.name"></span>
          </li>
        </template>
      </ul>

      <p x-show="filteredItems.length == 0" class="px-2 py-1.5 text-gray-600">
        No results founds.
      </p>
    </div>
  </div>
  <script>
    (function () {
      lucide.createIcons();
    })();
  </script>
</div>
{{ end }}
