<p>Hi {{ .Name }},</p>

<p>
  Welcome to our service! We're excited to have you join our community. Your
  account is currently under review, and you will receive a confirmation email
  once it has been approved.
</p>

<p>
  In the meantime, feel free to reply to this email if you have any past papers
  you'd like to share or if you have any questions. Your contributions are
  invaluable to us and the broader community.
</p>

<p>
  If you're interested in contributing more actively to the project, please let
  us know. We are always looking for passionate individuals to help us grow and
  improve our collection.
</p>

<p>Best wishes,<br />The Team</p>
